/* ===========
 Start section styles
 =============*/

.start-section {
  padding: 0.5rem;
  margin: 5rem 0 1rem;
  text-align: center;
}

.start-section h1 {
  margin-bottom: 5rem;
  color: var(--color-light);
  font-size: 2.2rem;
}

.flex-equal {
  display: block;
}
.flex-equal img {
  display: none;
}

.start-section p {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.9;
  max-width: 40ch;
  margin: 0 auto;
}

/* .icon-div {
  background: var(--color-primary);
  color: var(--color-dark);
  width: 75px;
  aspect-ratio: 1;
  padding: 0.75rem;
  border-radius: 50%;
  margin: 1.5rem auto 0;

  animation: arrow-up-down 500ms ease infinite alternate;
}

@keyframes arrow-up-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(30px);
  }
} */

/* ===========
 Cursos section styles
 =============*/

.cursos-section {
  background: var(
    --color-cursos
  ); /*COR DOS CURSOS!!!!!!!!!!!!!!
  /* height: 170px; */
  margin-top: 5rem;
  /* border-bottom: 5px solid rgb(198, 255, 248); */
}

.cursos-container {
  margin: 0 1rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}

.cursos-container img {
  /* max-width: 100%; */
  /* display: none; */
  padding: 0.5rem 0;
  user-drag: none;
  -webkit-user-drag: none;
}

.cursos-tabs {
  flex: 1;
  cursor: pointer;
  position: relative;

  transition: all 300ms ease;
}

.cursos-tabs:hover {
  outline: 3px solid var(--border-curso-hover);
  outline-offset: -3px;
}

.btn-cursos {
  color: var(--color-dark);
  background: transparent;
  outline: none;
  font-size: 1rem;
  position: relative;
}

.btn-cursos::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 25px);
  height: 3px;
  background: var(--color-abbr);
  transform: scaleX(0);

  transition: all 300ms ease;
}

.cursos-tabs:hover:hover .btn-cursos::after,
.cursos-tabs:hover:focus .btn-cursos::after {
  /* width: calc(100% - 25px); */
  transform: scaleX(1);
}
.cursos-tabs:hover .btn-cursos,
.cursos-tabs:focus .btn-cursos {
  outline: none;
  color: var(--color-abbr);
}

.cursos-container-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cursos-container-select select {
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 10px;
  text-align: center;

  outline: none;
  border: none;
}

/* Show  for javascript*/
.cursos-container-border {
  outline: 3px solid var(--container-border-curso) !important;
  outline-offset: -3px;
}
.hide-sc {
  /* margin: 1rem; */
  display: none;
  color: var(--card-clr);
}
.show {
  display: block !important;
}
/* ===========
 Egressos section styles
 =============*/

.egressos-section {
  margin-top: 5rem;
  background: var(--color-cursos);
  color: var(--color-dark);
}

.cursos-content {
  padding: 1rem;
  display: none;
}
.cursos-content h3 {
  text-align: center;
  color: var(--card-clr);
  margin: 2rem 0 3rem;
  font-size: 2rem;
}
.cursos-content h2 {
  color: var(--card-clr);
}

/* ===========
 Ex-alunos cards
 =============*/
.exalunos-card {
  text-align: center;
  background: var(--card-bg);
  color: var(--card-clr);
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto 1rem;
  border-radius: 10px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  transition: box-shadow 150ms ease;
}

.exalunos-card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.exalunos-card .img-div {
  margin: 0 auto;
}
.img-div img {
  max-width: 100%;
  border: 2px solid var(--card-border);
}

.exalunos-descricao h2 {
  margin: 1rem 0;
  font-size: 1.75rem;
}
.exalunos-descricao p {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.exalunos-descricao p:last-of-type {
  max-width: 35ch;
  font-size: 1.125rem;
  margin: 0 auto;
}

.curso-p {
  color: var(--color-abbr);
}

abbr {
  color: var(--color-abbr);
  text-decoration: none;
}

/*=========
  Popup Styles 
  ==========*/
.hidden-text {
  display: none;
}
.exalunos-card-text {
  height: 230px;
  overflow-y: hidden;
}

.readmore-popup {
  position: fixed;

  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  align-items: center;
  justify-content: center;

  background: rgb(0, 0, 0, 0.6);

  z-index: 10000;
}

.popup-active {
  display: flex;
}

.popup-card {
  z-index: 10001;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  background: var(--card-bg);
  border-radius: 1rem;

  padding: 1rem 2rem;
}

.popup-text {
  line-height: 1.5;
  font-size: 1.1rem;
  height: 400px;
  padding: 0.5rem;
  overflow-y: scroll;
  margin: 1rem;
  color: var(--card-clr);
}
.popup-text span {
  display: inline;
}
.popup-text abbr {
  /* color: var(--color-bg-light); */
}

#popup-btn {
  float: right;
}

.loading-div {
  margin: 0 auto;
  position: relative;
  width: 75px;
  height: 75px;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: none;

  border-radius: 50%;
  animation: loading 600ms linear infinite;
}
/* #loading-div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-radius: 50%;
  animation: loading 1000ms ease-in infinite;
} */

.loading-div-active {
  display: block !important;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===========
 Media Querys
 =============*/

@media (min-width: 900px) {
  .cursos-container {
    display: flex;
  }
  .cursos-container-select {
    display: none;
  }
  .flex-equal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .flex-equal img {
    display: block;
  }

  .arrow-div {
    display: none;
    height: 0;
    width: 0;

    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid var(--color-cursos);

    position: absolute;
    top: 187px;
  }

  /* .hide-lc {
    display: none;
  } */

  .hide-sc {
    display: block;
  }
}
