/* ===========
 Home section styles
 =============*/

.home-section {
  width: 100%;
  min-height: 720px;
  /* background: #444; */
  position: relative;
}
.home-section-bg {
  width: 100%;
  min-height: 720px;
  /* background: #444; */

  background: linear-gradient(#002855a7, #002855a7),
    url(../img/home-section-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  /*filter: blur(5px);*/
  position: absolute;
}

.home-text {
  /* display: none; */
  /*background: rgba(255, 255, 255, 0.21);*/
  color: rgb(225, 225, 225);
  position: absolute;
  top: 150px;
  left: 100px;

  padding: 50px;

  border-radius: 5px;
  min-height: 300px;
  max-width: 600px;

  /*box-shadow: 0 0 5px rgba(0, 0, 0, .2);*/
  z-index: 2;
}
.home-text h1 {
  color: var(--color-light);
  font-size: clamp(3em, 5vw, 3.5em);
  margin-bottom: 60px;
}
.home-text p {
  max-width: 35ch;
  font-size: 1.5em;
  line-height: 1.5;
}

/* ===========
 EX alunos styles
 =============*/

.ex-alunos-section {
  width: 100%;
  padding: 10px 75px 40px;

 }

.ex-alunos-section > h2 {
  text-align: center;
}

.ex-alunos-section > h2 {
  margin: 100px 0;
  font-size: clamp(2.5em, 5vw, 3em);
}

.home-img-div {
  width: 250px;
  max-width: 250px;
}
.home-img-div img {
  height: 200px;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;

  transition: border-radius 300ms ease;
}

.exalunos-home-card:hover img {
  border-radius: 64% 36% 69% 31% / 30% 67% 33% 70%;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 1.5rem;
  /* grid-template-columns: repeat(auto-fit, minmax(1r)) */

  flex-wrap: wrap;
}

.exalunos-home-card {
  padding: 2rem;
  flex: 1;
  min-height: 500px;
  border-radius: 1rem;
  color: var(--card-clr);
  background: var(--card-bg);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  gap: 1rem;

  transition: transform 300ms ease-in-out;
}
.exalunos-home-card:hover {
  transform: scale(1.05);
}

.exalunos-home-card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.exalunos-home-card .curso-p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.exalunos-link-div {
  margin-top: 3rem;
  text-align: right;
}
.exalunos-link-div i {
  margin-left: 0.75rem;
}
.exalunos-grid {
  display: grid;
  /*width: 822px;*/
  max-width: 822px;
  /*min-height: 1198px;*/
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  margin: 30px auto 60px;
}

/* ===========
 descricao styles
 =============*/

.descricao-section {
  width: 100%;
  /* height: 100vh; */
  /* background: ; */
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.descricao-section > h2 {
  margin: 75px 0 50px 0;
  font-size: 3em;
  color: var(--color-light);
}
.descricao-section > p {
  font-size: 1.5em;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.5;
  color: var(--color-light);
  opacity: 0.9;
}

.descricao-section div {
  margin-top: 100px;
}
.descricao-links {
  margin-bottom: 5rem;
}

.descricao-links a {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-link);
  transition: 300ms ease;
}
.descricao-links a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

/* ===========
 Cursos styles
 =============*/

/* .cursos-section {
 background: #87f1ff8a;

}  */
.cursos-section > h2 {
  text-align: center;
  margin: 1rem 0 40px 0;
  padding: 50px 0;
  font-size: 3em;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3rem;
  gap: 2rem;

  flex-direction: column;
}

.container-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  gap: 2rem;
}
.container img {
  width: 100%;
  max-width: 200px;
}

.card {
  /* margin: 20px; */
  padding: 20px;
  background: var(--cursos-card-bg);
  width: 100%;
  max-width: 320px;
  min-height: 600px;

  /*align-items: stretch;*/

  border-radius: 10px;

  transition: box-shadow 300ms ease;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.212);
}

.card h3 {
  margin: 25px 0;
  font-size: 34px;
  line-height: 1;
  color: var(--color-light);
}

.card p {
  line-height: 1.5;
  color: var(--color-light);
}

.cursos-card-img {
  max-width: 100%;
}

/* ===========
 Media querys
 =============*/

@media (max-width: 775px) {
  .home-text {
    width: 100%;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    text-align: center;
  }
  .home-text h1 {
    margin-bottom: 30px;
  }

  .ex-alunos-section {
    width: 100%;
    padding: 50px 5px;
  }
  .exalunos-link-div {
    text-align: center;
  }

  .img-div {
    max-width: 300px;
    /* margin: 0 auto; */
  }

  .exalunos-descricao h2 {
    margin: 20px 0;
  }
  .exalunos-descricao p {
    margin-top: 20px;
    margin-right: 0;
  }

  .descricao-section > p {
    margin: 0 10px;
  }
}
